<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<table class="table">
<% @products.each do |product| %>
<div class="entry">
<tr>
<td>
<%= image_tag(product.image_url, :class => "img-polaroid")%>
</td>
<td>
<h3><%= product.title %></h3>
<%= sanitize(product.description) %>

<div class="price_line">


<span class="price"><br><br><p class="price">Price:&nbsp;<%= number_to_currency(product.price) %></p></span>
<%= button_to 'Add to Cart ', line_items_path(:product_id => product), class: "btn btn-primary"%>
</td>
</div>
</tr>
</div>
<% end %>
</table>